h1 {
	text-align: center;
	background-color: rgb(60, 80, 255);
	padding: 20px 0;
	line-height: 40px;
	margin: 0 0;
	color: white;
	letter-spacing: 15px;
}

body{
	background-color: rgb(10, 10, 10);
	margin: 0 0;
	
}

button{
	/* margin-right: 50px; */
	font-weight: bold;
	border:none;
	background-color: white; 
	height: inherit;
	font-size: inherit;
	outline: none;
}
button:hover{
	background-color: rgb(30, 20, 255);
}
.bg{
	background-color: rgb(30, 20, 255);
}

.container{
	/* width: 550px; */
	width: 40%;
	margin: 40px auto;
}

.square{
	background-color: purple;
	width: 30%;
	padding-bottom: 20%;
	float: left;
	margin: 1.66%;
	border-radius: 50%;
	transition: background-color 0.5s;
}


.stripe{
	display: flex;
	justify-content: flex-start;
	background-color: white; 
	font-size: 2rem;
}

.stripe div,button{
	margin: 0 auto;
}

#message{
	flex-basis: 240px;
	text-align: center;
	margin: auto 0 auto 18%;
}
